@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1,h2,h3,h4,h5, p, a{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: .8rem;
    color: #A2AEBB;
}
.wrapper{
    background-color: #717EC3;
    padding: 50px;
}
.wh-bg{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    padding: 45px 45px;
    width: 70%;
    margin: 0 auto;
}
.intro{
    margin-bottom: 2rem;
    width: 90%;
}
.intro h1{
    color: #6F73D2;
    margin-bottom: 1rem;
}
.app-input{
    margin-bottom: 15px;
    font-weight: bold;
}
.app-input p{
    margin-bottom: 5px;
}
.app-input .nm-input, .app-input .ta-input{
    border-radius: 15px;
    border: none;
    width: 90%;
    background-color: rgba(223, 224, 226, 0.3);
    padding: 10px 15px;
    color: grey;
}
.app-input .ta-input{
    min-height: 100px;
}
.square{
    width: 40%;
}
.form-submit-btn{
    text-align: center;
    max-width: 150px;
    background-color: #717EC3;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #A2AEBB;
}
.form-submit-btn p{
    color: white;
    font-weight: bold;
}
.right-content img{
    width: 100%;
    height: 200px;
}
.contact-info{
    margin-top: 60px;
    margin-bottom: 20px;
    min-height: 130px;
}
.contact-info div{
    display: flex;
}
.contact-info div:nth-child(2){
    margin-top: 20px;
    margin-bottom: 5px;
}
.contact-flex i{
    color: #A2AEBB;
    margin-right: 15px;
}
.social{
    width:100px;
    height: 100px;
    text-align: center;
    padding:5px 10px;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}
.fb{
    background-color: blue;
}
.tw{
    background-color: #38AECC;
}
.ig{
    background-color: #C879FF;
}

@media screen and (max-width:995px){
    .wh-bg{
        width: 95%;
    }
}
@media screen and (max-width:755px){
    .wh-bg{
        flex-direction: column;
    }
    .square{
        width: 80%;
    }
    .left-content{
        margin-bottom: 30px;
    }
    .right-content img{
        display: none;
    }
}
@media screen and (max-width:550px){
   .square{
       width: 100%;
   }
   .wh-bg{
       padding: 20px 10px;
       width: 100%;
   }
   .wrapper{
       padding: 20px;
   }
}